.header-dashboard {
  padding-left: 60px;
  padding-top: 100px;
}
.header-dashboard h1 {
  font-size: 30x;
  text-align: left;
}
.header-dashboard p {
  margin: 5px 0;
  text-align: left;
  font-size: 20px;
  padding-top: 15px;
}

.header-dashboard-date p {
  font-size: 15px;
}
