.profile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile-info {
  flex-grow: 1;
  margin-left: 20px;
}

.log-out-button {
  background-color: #004d40;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
