.profile-form-password {
  background-color: #f9f9f9;
  padding: 50px;
  margin: 0 50px 50px 50px;
  border-radius: 10px;
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-form-password h3 {
  margin-bottom: 20px;
  text-align: center;
}

.form-section-password {
  display: flex;
  flex-direction: column;
  width: 100%; /* Tambahkan lebar penuh */
  max-width: 800px; /* Sesuaikan lebar maksimum sesuai keinginan */
  margin-bottom: 20px;
}

.profile-form-password h4 {
  margin-bottom: 10px;
}

.form-group-password {
  display: flex;
  flex-direction: column;
  flex-basis: 45%;
  margin-left: 100px;
  margin-right: 100px;
}

.form-group-password label {
  margin-bottom: 5px;
}

.form-group-password input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.save-button-password {
  width: 10%;
  background-color: #004d40;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
}
