.profile-buttons {
  display: flex;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50ppx;
}

.profile-button {
  background-color: #004d40;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
}
